@model qwerty.Models.Owner

@{
    ViewData["Title"] = "Create";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Owner" asp-action="Index">User</a></li>
                    <li class="breadcrumb-item active">Create</li>

                </ol>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Create new User</h3>
                    </div>
                    <form asp-action="Create">

                        <div class="card-body">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                            <label asp-for="departmentt" class="control-label"></label>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-10">
                                        <select asp-for="DepartmentId" class="form-control"
                                            asp-items="ViewBag.DepartmentId">
                                            <option value=''></option>
                                        </select>
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn btn-create"
                                            onclick="location.href='@Url.Action("Create", "Department")'"><i
                                                class="fas fa-solid fa-plus"></i></button>

                                    </div>
                                </div>

                            </div>



                            <div class="form-group">
                                <label asp-for="own" class="control-label"></label>
                                <input asp-for="own" class="form-control" />
                                <span asp-validation-for="own" class="text-danger"></span>
                            </div>




                            <div class="form-group">
                                <label asp-for="Permissionn" class="control-label"></label>
                                <select asp-for="PermissionId" class="form-control" asp-items="ViewBag.PermissionId">
                                    <option value=''></option>
                                </select>
                            </div>


                        </div>
                        <div class="card-footer">

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-create" />
                            </div>
                        </div>
                    </form>

                </div>






            </div>



        </div>







    </div>






</section>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
