<li class="nav-item ">
   
    <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Index">
       <i class="nav-icon fas fa-solid fa-home"></i>
        <p>
            Home
        </p>
    </a>
</li>
<li class="nav-item ">
    <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index">
        <i class="nav-icon fas fa-solid fa-clipboard-check"></i>
        <p>
            Task
        </p>
    </a>
</li>
<li class= "nav-item ">
    <a class="nav-link text-dark" asp-area="" asp-controller="Owner" asp-action="Index">
        <i class="nav-icon fas fa-solid fa-user"></i>
        <p>
            User
        </p>
    </a>
</li>
<li class="nav-item ">
    <a class="nav-link text-dark" asp-area="" asp-controller="UserPer" asp-action="Index">
        <i class="nav-icon fas fa-solid fa-user-check"></i>
        <p>
            Permission
        </p>
    </a>
</li>
