@model IEnumerable<qwerty.Models.HomeModel>
<html>

<head>
    @* <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> *@

    <link rel="stylesheet" href="~/plugins/chart.js/Chart.css">
    <link rel="stylesheet" href="~/plugins/chart.js/Chart.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/css/site2.css">



    <script src="~/plugins/chart.js/Chart.bundle.js"></script>
    <script src="~/plugins/chart.js/Chart.bundle.min.js"></script>
    <script src="~/plugins/chart.js/Chart.js"></script>
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>






    <style>
        %

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #C37B89;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        th {
            text-transform: capitalize;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
    var dataList = ViewBag.Data;

}


<script>

    $(function () {

        $('#btnupload').on('click', function () {

            var fileExtension = ['xls', 'xlsx'];

            var filename = $('#fileupload').val();

            if (filename.length == 0) {

                alert("Please select a file.");

                return false;

            }

            else {

                var extension = filename.replace(/^.*\./, '');

                if ($.inArray(extension, fileExtension) == -1) {

                    alert("Please select only excel files.");

                    return false;
                }
            }

            var fdata = new FormData();

            var fileUpload = $("#fileupload").get(0);

            var files = fileUpload.files;

            fdata.append(files[0].name, files[0]);

            $.ajax({

                type: "POST",

                url: "/Home/Import",

                beforeSend: function (xhr) {

                    xhr.setRequestHeader("XSRF-TOKEN",

                        $('input:hidden[name="__RequestVerificationToken"]').val());

                },

                data: fdata,

                contentType: false,

                processData: false,

                success: function (response) {

                    if (response.length == 0)

                        alert('Some error occured while uploading');

                    else {

                        $('#divPrint').html(response);

                    }

                },

                error: function (e) {

                    $('#divPrint').html(e.responseText);

                }

            });

        })

        $('#btnExport').on('click', function () {

            var fileExtension = ['xls', 'xlsx'];

            var filename = $('#fileupload').val();

            if (filename.length == 0) {

                alert("Please select a file then Import");

                return false;

            }

        });

    });
</script>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </div>
            <div class="col-md-6">

            </div>
        </div>

        <form>
            <div class="row">

                <div class="col-md-4">
                    <select name="singleChange" id="123456" class="form-control select2bs4 select2-danger"
                        data-dropdown-css-class="select2-danger" asp-items="ViewBag.OwnerId"
                        onchange="singleSelectChangeValue();" style="width: 100%;">
                        <option selected="selected">select user</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="file" class="custom-file-input" name="files" id="fileupload">
                    <label class="custom-file-label" for="customFile">Choose file</label>

                </div>
                <div class="col-md-4">
                    <input type="button" name="Upload" value="Upload" id="btnupload" class="btn btn-dark"
                        style="background: #97C1A9;" />
                    <input type="button" value="Download" id="btndownload" class="btn btn-dark"
                        style="background: #8FCACA;" onclick="location.href='@Url.Action("Download", "Home")'" />


                </div>
            </div>
        </form>

    </div>


</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background:#55CBCD;">
                        <h3 class="card-title">Pie Chart</h3>
                    </div>
                    <div class="card-body">
                        <div id="divchart">
                            <div>
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background: #FFDBCC;">
                        <h3 class="card-title">Tasks Table</h3>
                    </div>
                    <div class="card-body">
                        <div class="" id="12345">
                            <table class="table table-bordered table-striped table-light-warning" id="table1">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Detail</th>
                                        <th>Start</th>
                                        <th>Deadline</th>
                                        <th>Aprrover</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="1245"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>




<script>
    $(function () {
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'

        })

    });
    var myChart = new Chart();
    //var table = new DataTable();

    function sendValue(id) {
        var data = { OwnerId: id };
        $.ajax({
            type: "post",
            url: "@Url.Action("passIntoView", "Home")",
            contentType: "application/x-www-form-urlencoded",
            data: data,
            dataType: "json",
            success: function (respone) {
                $('#divchart').empty();
                $('#myChart').remove();
                $('#divchart').append(' <div><canvas id = "myChart" ></canvas ></div >');
                codomo(respone);
            },
            failure: function (response) {
                alert(response.data);
            }
        });
        $.ajax({
            type: "post",
            url: "@Url.Action("DataTable", "Home")",
            contentType: "application/x-www-form-urlencoded",
            data: data,
            dataType: "json",
            success: function (respone) {

                //table.destroy(); 
                $('#table1').DataTable().clear().destroy();
                create_table(respone);

                var table = $('#table1').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    "responsive": true,
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'copyHtml5',
                            text: 'copy',
                            titleAttr: 'copy table data',
                            className: 'btn btn-primary'

                        },
                        {
                            extend: 'csvHtml5',
                            text: 'csv',
                            titleAttr: 'Export as csv',
                            filename: function () {
                                var d = new Date();
                                var n = d.toDateString();
                                return n + " csv";

                            }
                        },
                        {
                            extend: 'excelHtml5',
                            text: 'excel',
                            titleAttr: 'Export as excel',
                            filename: function () {
                                var d = new Date();
                                var n = d.toDateString();
                                return n + " excel";

                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: 'pdf',
                            titleAttr: 'Export as pdf',
                            filename: function () {
                                var d = new Date();
                                var n = d.toDateString();
                                return n + " pdf";

                            }
                        },
                        {
                            extend: 'print',
                            text: 'print',
                            titleAttr: 'print this table',

                        }
                    ]

                }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');


            },
            failure: function (response) {
                alert(response.data);
            }
        });
    }



    function codomo(v) {

        let data = {
            labels: v.labels,
            datasets: [{
                label: 'My First Dataset',
                data: v.series,
                backgroundColor: [
                    'rgb(255, 205, 86)',
                    'rgb(102, 204, 255)',
                    'rgb(153, 255, 51)',
                    'rgb(255, 0, 0)'
                ],
                hoverOffset: 4
            }]
        };

        const config = {
            type: 'pie',
            data: data,
            options: {

            }
        };

        myChart = new Chart(
            document.getElementById('myChart').getContext('2d'),
            config
        );
    }


    function generateTable(table, data) {
        for (let element of data) {
            var tr = $('<tr></tr>');

            console.log(element);
            for (let key in element) {
                var td = $('<td>' + element[key] + '</td>');
                tr.append(td);
            }
            $('#1245').append(tr);
        }

    }





    function create_table(data) {
        $("#1245").empty();
        let dt = data;
        let table = document.querySelector("table");
        generateTable(table, dt.task);

    }



    function singleSelectChangeValue() {
        var selectedObject = document.getElementById("123456");
        var selValue = selectedObject.value;
        var selectOwner = selectedObject.options[selectedObject.selectedIndex].text;

        return sendValue(selValue);

    }



</script>



</html>
