.scrollbar
{


	/* background: #F5F5F5; */
	overflow-y: scroll;
	height: 250px;
   
    
    
}

.force-overflow
{
	min-height: 250px;
}

.btn-edit
{
	background-color: #97C1A9;
}
.btn-detail
{

	background-color: #ABDEE6;
}
.btn-delete
{
	background-color: #FF968A;
}
.btn-add
{

	background-color:#ffee93;
	transition-duration: 00.1s;
}
.btn-add:hover
{
	background-color: #fce878;
	
}
.btn-create
{
	background-color: #A2E1DB;

}

.btn-create {
	transition-duration: 0.1s;
  }
  
.btn-create:hover {
	background-color: #8FCACA; /* Green */
	color: white;
  }
