@model qwerty.Models.Permission

@{
    ViewData["Title"] = "Delete";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Permission"
                            asp-action="Index">Permission</a> </li>
                    <li class="breadcrumb-item active">Delete</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Delete Permission
                        </h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.permission)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.permission)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <form asp-action="Delete">
                            <button type="button" class="btn btn-secondary"
                                onclick="location.href='@Url.Action("Index", "Permission")'">Back</button>
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>